* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

:root {
    --bg-light: #fff;
    --bg-dark: #cccc;

    --accent-light: #ccc;
    -accent-dark: #ffff;
}